*.csproj
/.vs
/Library
/Logs
/obj
/Temp
/UserSettings
/.vsconfig
/.vscode
/*.sln
/Assets/StreamingAssets
*.apk
.DS_Store
4_BurstDebugInformation_DoNotShip/tempburstlibs/armeabi-v7a/lib_burst_generated.txt
